
.NavBar{  
  margin-top: 0%;
  display: flex;

  overflow: hidden;
  
}
img{
  padding: 0;
  margin: 0;
  height: 80px;
  width: 350px;
}
.NavBar ul{
  padding: 0;
 
  margin-right: 90px;
  display: flex;
  margin-left: 1000px;
}
.NavBar ul li{
  float: left;
  list-style-type: none;
  margin-left: 30px;
  margin-right: 30px;


}
.NavBar ul li a{
  color: rgb(134, 134, 134);
  text-decoration: none;
 
}
.NavBar ul li :hover{
  color: rgb(184, 8, 66); 
  border-bottom: 1px solid rgb(184, 8, 66);;
  
}
